:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  background-color: rgb(240, 240, 240);
  text-align: justify;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 50rem;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one */

  display: flex;
  align-items: center;
}
